click
pillow
imagehash
python-dateutil
tqdm
rich
pydantic
pyyaml
python-json-logger
timezonefinder
fastapi
uvicorn
opencv-python-headless
openai-whisper
open_clip_torch
faiss-cpu
ultralytics
insightface
paddleocr
onnxruntime
pi-heif
